[submodule "test/libs/googletest"]
	path = test/libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/SPIRV-Cross"]
	path = libs/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
