[submodule "test/libs/googletest"]
	path = test/libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/SPIRV-Cross"]
	path = libs/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "examples/libs/glm"]
	path = examples/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "examples/libs/cpp-glfw"]
	path = examples/libs/cpp-glfw
	url = https://github.com/LanaBesevic/cpp-glfw.git
